/*
    # General
    # Article
    # Header / Logo

    # Device Queries
*/

/*
    Colors
        bright: #fff
        active: #888
        link: #666
        dark: #444
*/

@font-face {
	font-family: 'ms500';
	src: url('/fonts/ms500.eot'); /* IE9 Compact Modes */
	src: url('/fonts/ms500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('/fonts/ms500.woff') format('woff'), /* Modern Browsers */
	     url('/fonts/ms500.ttf')  format('truetype'), /* Safari, Android, iOS */
	     url('/fonts/ms500.svg#svgFontName') format('svg'); /* Legacy iOS */
	}
	
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

/* General */

html {
    background: #fff;
    font-family: 'ms500',HelveticaNeue,Helvetica,Arial,sans-serif;
    font-size: 14pt;
    -webkit-font-smoothing: antialiased;
}

body {
    color: #444;
    position: relative;
}

h1 {
    font-family: 'ms500';
    font-size: 16pt;
    font-weight: normal;
    text-transform: uppercase;
    color: #666;
    margin-top: 0em;
    margin-bottom: 0.5em;
    padding-top: 0em;
    padding-bottom: 0.5em;
    border-bottom: 1px dotted #33302E;
}

p {
    margin-bottom: 1em;
    -webkit-hyphens: auto;
    -moz-hypens: auto;
    hyphens: auto;
}

a {
    text-decoration: none;
    color: #444;
}

a:active {
    opacity: 0.5;
}

li {
    list-style-type: none;
}

img {
    max-width: 100%;
}

code {
    font-family: courier,monospace;
    font-size: 12pt;
    word-wrap: break-word;
}

pre code {
    display: block;
    margin-bottom: 1em;
    padding-left: 1em;
    border-left: 1px dotted #666;
    color: #666;
}

blockquote {
    padding-left: 20px;
    border-left: 1px dotted #666;
    color: #666;
}

#page {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
}


/* Article */

article {
    padding: 5%;
    padding-top: 1em;
}

article img {
    display: block;
    margin: 1em auto 1em auto;
    max-width: 100%;
    max-height: 520px;
    border-radius: 10px;
}

article a {
    color: #000;
}

article a:hover {
    text-decoration: underline;
}

article p {
    text-align: justify;
    line-height: 150%;
}

.splash {
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    height: 200px;
    background-size: 800px;
/*     box-shadow: inset 0px 0px 50px black; */
}

.splash a {
    position: absolute;
    bottom: 0px;
    left: 0px;
    margin: 0em 0em 0.5em 5%;
    color: black;
    font-size: 18pt;
    text-shadow: 0 0 5px white, 0 0 5px white, 0 0 5px white, 0 0 5px white, 0 0 5px white, 0 0 6px white, 0 0 7px white, 0 0 8px white, 0 0 9px white, 0 0 10px white;
}


/* Lists */

.list {
    padding: 5%;
    padding-top: 1em;
}

.list .post {
    display: block;
    clear: both;
    margin: 20px 0 20px 0;
}

.thumbnail {
    width: 120px;
    height: 120px;
    display: block;
    float: left;
    margin-right: 10px;
    border-radius: 10px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 480px;
}

.list .details {
    position: relative;
}

.list .title {
    font-size: 16pt;
    margin-top: 13px;
    margin-bottom: 3px;
}


/* Header, Logo */

header {
    text-transform: lowercase;
    -webkit-user-select: none;
    user-select: none;
    text-decoration: none;
    padding: 5%;
    position: relative;
}

nav a {
    padding: 2px 6px 3px 6px;
    font-size: 19pt;
    text-decoration: none;
    font-family: 'ms500';
    border-radius: 5px;
}

nav a.selected {
    background: #444;
    color: #fff;
}

nav a:hover {
    background: #ddd;
    color: #444;
}

#logo {
    font-size: 37pt;
    line-height: 17pt;
    float: left;
    padding-bottom: 0.2em;
    margin-right: 5%;
}


/* Device Queries */

@media screen and (-webkit-min-device-pixel-ratio:1.5),screen and (-o-min-device-pixel-ratio:3/2),screen and (-moz-device-pixel-ratio:1.5),screen and (min-device-pixel-ratio:1.5) {
    html {
        background-size: 64px 64px;
    };
}

@media screen and (min-width:800px) {
    #page {
        margin-top: 6.6%;
    }
    
    header {
        float: left;
        width: 125px;
        height: 200px;
        padding: 0px;
        margin: 0px 33px 0px 33px;
        text-align: right;
    }
    
    #logo {
        display: block;
        float: right;
        clear: both;
        margin: 0px;
        padding: 0px;
        margin-bottom: 40px;
    }
    
    .splash {
        border-radius: 10px;
        margin-bottom: 15px;
    }
    
    .splash a {
        margin-left: 15px;
        line-height: 16pt;
    }
    
    article {
        padding: 0px;
        margin: 0%;
    }
    
    nav {
        position: absolute;
        bottom: 0px;
        right: 0px;
    }
    
    nav a {
        display: block;
        float: right;
        clear: both;
        margin: 0.4em 0em 0.25em 0em;
        font-size: 18pt;
    }
    
    #content {
        margin: 0px 33px 33px 191px;
        padding: 0px;
    }
}

@media screen and (max-width:500px) {
    
    #logo {
        display: block;
        float: none;
        font-size: 24pt;
        line-height: 12pt;
        margin-bottom: 5%;
    }

    nav a {
        float: none;
        font-size: 16pt;
        text-align: center;
        margin-right: 3%;
    }
    
    article img {
        max-height: 300px
    }
    
    .splash a {
        font-size: 18pt;
    }
};
