---
layout: default
category: blog
title: Blog
---

<article>
    <h1>{{ page.title }}</h1>
    {% for post in site.posts %}
      {% if post.category == 'blog'%}
        <a href="{{ post.url }}">
            <div class="bloghead">
                <span class="title">
                    {{ post.title }}
                </span>
                <span class="date">{{ post.date | date: "%B %d, %Y" }}</span>
            </div>
            {{ post.summary }}
        </a>
      {% endif %}
    {% endfor %}
</article>
