<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
        
        <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.name }}</title>
        
        <link rel="stylesheet" href="/css/app.css" />
    </head>
    <body>
        <div id="page">
            <header>
                <a id="logo" href="/">{{ site.name }}</a>
                <nav>
                    <a {% if page.category == 'blog' %}class="selected"{% endif %} href="/blog">Blog</a>
                    <a {% if page.category == 'projects' %}class="selected"{% endif %} href="/projects">Projects</a>
                    <a {% if page.category == 'about' %}class="selected"{% endif %} href="/about">About Me</a>
                </nav>
            </header>
            <div id="content">
                {{ content }}
            </div>
        </div>
    </body>
</html>
